*{
list-style: none;
text-decoration: none;
}
.header1{
    border: solid 5px;
    width: 100%;
    border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
}
 .the{
    display:flex;
    border: solid 0px rgba(128, 128, 128, 0.258);
     height: 65px;
    width: 100vw;
    border: solid 1px rgba(128, 128, 128, 0.258);
   
    
}
.navbar ul li{
     display:inline-flex;
     padding: 10px;
}
.navbar{
    margin: 0px 10px 0px 0px;
}
.n1{
    margin: 24px 0px 0px 30px ;
   
}
.n2{
     margin-left: auto;
     margin-top: 0; 
     font-size: 17px;
     color: black;
}
.n2 a{
   color: black;  
}
.n2 ul li :hover{
    color: gray;
}
.se{
   
    display: flex;
    
}
.sep .s1{
   padding: 0px 10px 0px 10px;   
}
.sep button{
    border: solid 0px;
    background:#fff;
    font-size: 15px;
    cursor: pointer;
}
.size{
    margin-top: -2px;
    height: 25px;
    width: 60px;

}